@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
    color: var(--foreground);
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
}

.debug * {
    outline: 1px dashed hsl(320 100% 50%);
}
